.main {
  background: #fff;
}

.video {
  width: 7.5rem;
  height: auto;

  video {
    width: 100%;
    object-fit: fill;
  }
}

.content {
  width: 7.5rem;
  padding: 0.25rem 0.2rem;
  text-align: left;
  border-bottom: 0.01rem solid #f0f0f0;

  .title {
    font-size: 0.34rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #333333;
  }

  .read {
    margin-top: 0.12rem;
    font-size: 0.24rem;
    height: 0.33rem;
    line-height: 0.33rem;
    color: #aaaaaa;
  }

  .desc {
    margin-top: 0.2rem;
    font-size: 0.28rem;
    color: #4a4a4a;
    line-height: 0.44rem;
  }

  .down {
    text-align: center;
    height: 0.5rem;
    position: relative;
    --deg: 0;

    .svgIcon {
      font-size: 0.36rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(calc(var(--deg) * 1deg));
    }
  }
}

.professor {
  padding: 0.4rem 0.4rem 0.25rem 0.25rem;

  .desc {
    width: 100%;
    height: 1.86rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr 1fr;
    grid-template-rows: 0.15rem 0.5rem 0.16rem 0.8rem;
    grid-column-gap: 0.25rem;

    .avatar {
      grid-column: 1/2;
      grid-row: 1/6;
      width: 100%;
      height: 100%;

      img {
        width: 1.5rem;
        height: 1.85rem;
        border-radius: 0.05rem;
        vertical-align: middle;
      }
    }

    .name {
      grid-column: 2/3;
      grid-row: 2/3;
      color: #323232;
      font-size: 0.35rem;
      align-self: center;
      justify-self: start;
    }

    .message {
      grid-column: 3/4;
      grid-row: 2/3;
      font-size: 0.28rem;
      align-self: center;
      color: #0077c2;
      justify-self: end;
    }

    .experience {
      grid-column: 2/4;
      grid-row: 4/5;
      font-size: 0.26rem;
      color: #4a4a4a;
      justify-self: start;
      text-align: left;
      line-height: 0.4rem;
    }
  }

  .serve {
    margin-top: 0.3rem;
    margin-bottom: 0.48rem;
    font-size: 0.26rem;
    color: #4a4a4a;
    text-align: left;
    line-height: 0.4rem;
  }
}

.commen {
  width: 7.5rem;

  .box {
    padding: 0 0.25rem;
    padding-top: .30rem;
    width: 7.5rem;
    box-sizing: border-box;
    font-size: .26rem;
    line-height: 1.5em;

    img {
      width: 100%;
    }

    p {
      margin-bottom: .15rem !important;
    }
  }

  .list {
    padding: 0 0.2rem;

    .item {
      padding: 0.3rem 0;
      display: grid;
      grid-template-columns: 0.6rem 1fr 1fr;
      grid-template-rows: 0.37rem auto 0.32rem;
      grid-row-gap: 0.07rem;
      grid-column-gap: 0.18rem;
      justify-items: start;
      align-items: center;
      text-align: left;
      border-bottom: 0.01rem solid #f6f6f6;

      .avatar {
        width: 100%;
        height: 0.6rem;
        border-radius: 50%;
        grid-column: 1/2;
        align-self: start;

        img {
          width: 0.6rem;
          height: 0.6rem;
          vertical-align: top;
          border-radius: 50%;
          margin-top: 0;
        }
      }

      .name {
        color: #333333;
        font-size: 0.23rem;
        grid-column: 2/3;
        grid-row: 1/2;
        font-weight: bold;
      }

      .commont {
        font-size: 0.28rem;
        line-height: 0.38rem;
        color: #424242;
        grid-column: 2/4;
        grid-row: 2/3;
      }

      .time {
        font-size: 0.23rem;
        color: #aaaaaa;
        grid-column: 2/3;
        grid-row: 3/4;
      }

      .like {
        font-size: 0.23rem;
        color: #aaaaaa;
        grid-row: 3/4;
        grid-column: 3/4;
        justify-self: end;
        margin-right: 0.1rem;
      }

      .like.actived {
        color: #0077c2;
      }
    }
  }
}

.footer {
  display: flex;

  .search {
    flex: 1;
  }

  .collect,
  .likes {
    width: 0.88rem;
    height: 1.08rem;
    color: #aeadb2;
    font-size: 0.1rem;
    padding-top: 0.26rem;

    .svgIcon {
      font-size: 0.36rem;
      margin-bottom: 0.1rem;
    }
  }
}

.diaoyan {
  width: 1.06rem;
  height: 1.06rem;
  border-radius: 50%;
  position: fixed;
  right: 0.4rem;
  bottom: 1.38rem;
  background: #0077c2;
  text-align: center;

  .diaoyan-content {
    width: 100%;
    color: #fff;
    font-size: 0.17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .svgIcon {
      font-size: 0.4rem;
      margin-bottom: 0.08rem;
    }
  }
}

.discuss {
  width: 7.5rem;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;

  .discuss-content {
    width: 100%;
    padding: 0.2rem 0.25rem;
    border-radius: 0.18rem;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .discuss-title {
    font-size: 0.26rem;
    color: #323232;
    text-align: left;
  }

  .discuss-submit {
    font-size: 0.28rem;
    color: #2f92ee;
    text-align: right;
    margin-top: 0.1rem;
  }

  .van-cell {
    padding: 0;
    font-size: 0.28rem;
  }
}

